@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.status-api {
	display: flex;
	justify-content: flex-end;
	align-items: space-around;
	padding: 25px;
	flex-wrap: wrap;

}

.botao-login {
	border-radius: 20px;
	border: 1px solid #f4917f;
	background-image: linear-gradient(to left bottom, #d16b91, #cb75a9, #c080be, #b18dd0, #9f99dd, #8ea3e3, #80ade6, #75b5e5, #73bde0, #79c4d9, #86c9d1, #97cecb);
	margin: 10px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	-webkit-animation: pulse 1s ease infinite;
	-moz-animation: pulse 1s ease infinite;
	-ms-animation: pulse 1s ease infinite;
	-o-animation: pulse 1s ease infinite;
	animation: pulse 1s ease infinite;
}

.botao-login button:active {
	transform: scale(0.95);
}

.botao-login button:focus {
	outline: none;
}

.botao-login button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}




.container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	flex-direction: column;
	color: #DDD;
}


.form-login {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.fundo {

	background-color: #8ea3e3;


}

.logo-login {
	background-color: #8ea3e3;
}



@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
	}

	25% {
		-webkit-transform: scale(1.1);
	}

	50% {
		-webkit-transform: scale(0.95);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(1);
	}

	25% {
		-moz-transform: scale(1.1);
	}

	50% {
		-moz-transform: scale(1);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-ms-keyframes pulse {
	0% {
		-ms-transform: scale(1);
	}

	25% {
		-ms-transform: scale(1.1);
	}

	50% {
		-ms-transform: scale(1);
	}

	100% {
		-ms-transform: scale(1);
	}
}

@-o-keyframes pulse {

	0% {
		-o-transform: scale(1);
	}

	25% {
		-o-transform: scale(1.1);
	}

	50% {
		-o-transform: scale(1);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.logo-login {
	width: 70%;


}