.datatable-templating-demo {

    display: flex;
    background-color: beige;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    width: 100%;
    padding: 25px 0px;
   

}




.headerTemplateDataTable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-center;
    width: 100%;

}



.datatable-templating-demo .p-datatable-tbody{
 background-color: beige;

}

.datatable-templating-demo .table-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.datatable-templating-demo .table-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

