.tabela-pedidos {
    width: 100%;
    background-color: #F2f2f2;
    margin: 10px 0px;
    padding: 10px;
    margin: 5px;
    border: 10px solid #f2f2f2;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.container-pedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5px
}

.logo-consulta-pedido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.botao-novo {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;

    padding: 25px;
}