


.expira {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.botao-menu {
    
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 1px 50px;
   
}

.botao-menu-rodape {
    position: fixed;
    z-index: 4;
    bottom: 10px !important;
    left: 40%;
}

.logo-rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}


@keyframes float {

	0%{
		transform: translate(0px);
	}

	50%{
		transform: translateY(30px);
	}

	100% {
		transform: translateY(0px);
	}
}

