.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 997;
    background-image: linear-gradient(to left top, #b18dd0, #9f99dd, #8ea3e3, #80ade6, #75b5e5, #73bde0, #79c4d9, #86c9d1, #97cecb);
  
}

.expira {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.botao-menu {

    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 1px 50px;

}

.botao-menu-rodape {
    position: fixed;
    z-index: 4;
    bottom: 10px !important;
    left: 40%;
}

.logo-rodape {

    display: flex;
    justify-content: end;
    margin-right: 1rem;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}


@keyframes float {

    0% {
        transform: translate(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}