@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.menu-left {

    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;

    flex-wrap: wrap;
}

.texto-menu-interativo {


    font-size: 2rem;
    font-family: 'cabin-sketch-bold', 'cabin-sketch-regular', 'Poppins', sans-serif;



}



.menu-interativo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

    color: #FFFF;
    border: 1px solid #FFFF;
    padding: 15px;
    margin: 5px 5px;
    border-radius: 50px;

}

.opcoes-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #FFFF;
    gap: 25px;
    flex-wrap: wrap;




}

.menu-categoria {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFFF;
    gap: 25px;
    flex-wrap: wrap;

    border-radius: 50px;
    margin-top: 25px;
    padding: 25px;

}