.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #663399;

    color: white;
    text-align: center;
    padding: 1px 0;
    font-family: 'Roboto', sans-serif;
    z-index: 2
}

.footer p {
    margin: 0;
    padding: 0;
}