.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right top, #d16b91, #cb75a9, #c080be, #b18dd0, #9f99dd, #8ea3e3, #80ade6, #75b5e5, #73bde0, #79c4d9, #86c9d1, #97cecb);

    color: white;
    text-align: center;
    padding: 1px 0;
    font-family: 'Roboto', sans-serif;
    z-index: 2
}

.footer p {
    margin: 0;
    padding: 0;
}