.tabela-produto {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;

    background-color: #FFFF;
    padding: 20px;
    border: 1px solid #FFF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


.produto-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #FFF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #F2f2f2;
}

.btn-pesquisar-fixo {
    position: fixed;
    z-index: 4;
    bottom: 7px;
    right: 90px;
}

.btn-atualizar-fixo {
    position: fixed;
    z-index: 4;
    bottom: 7px;
    right: 25px;
}

.texto {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    width: 100%;
    color: #F2f2f2;
}

.produto-selecionado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 5px;
}

.panel-dias-venda-compra {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.produto-card-selecionado {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.produto-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1 px solid #FFFF;
    background-color: #F2f2f2;
    width: 100%;
}

.input-produto {

    margin: 10px
}

.btn-cosnultar {
    display: flex;
    justify-content: center;
    margin: 2rem
}