@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Flex','Montserrat',  sans-serif;

}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0fcaf0 #e7eec9;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #e7eec9;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0fcaf0;
    border-radius: 29px;
    border: 1px inset #eeeded;
  }

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: linear-gradient(to right top, #d16b91, #cb75a9, #c080be, #b18dd0, #9f99dd, #8ea3e3, #80ade6, #75b5e5, #73bde0, #79c4d9, #86c9d1, #97cecb);
    
  }

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    flex-wrap: wrap;
   
   

}

.container-global {
   
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;



}

#header {

   
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 6;



}

#main {

   
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 6;

}

.logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
   margin: 0 40px;
   
}



.form-precificador {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex-wrap: wrap;


}


.form-precificador-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 5px;
    flex-wrap: wrap;

    width: 100%;
}

.form-precificador-btn {
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    flex-wrap: wrap;
    width: 150px;

}

.pesquisa-rapida {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}





.avatar  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFF;
    
}